

$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Londrina Solid', cursive;
$--Dead: #f825008e;
$--Alive: #47d011c2;

$--unknown: #5a6865;


@mixin centralizar {
  display: flex;

  justify-content: center;
  align-items: center;
}

@mixin tema($cor) {
  background-color: $cor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 
  background-image: url('../img/Fundo.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  font-family: $fonte-principal;
}

.app {

  display: flex;
  flex-direction: column;
 
  @include centralizar;
  &__list {
    width: 100%;
    margin: 1rem 0rem;
    @include centralizar;
    flex-wrap: wrap;

    &__card {
      background-color: rgb(28, 26, 38);
      display: flex;
      width: 20rem;
      height: 10rem;
      padding: 2rem;
      margin: 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

      &--Dead {
        margin-left: 10px;

        border-radius: 50%;
        border: rgb(58, 58, 58) solid 3px;
        padding: 0.5px 8px;  
        box-shadow: red 0px 0px 5px ;
        
        @include tema($--Dead)
      }
      &--Alive{
        margin-left: 10px;
        border-radius: 50%;
        border: rgb(58, 58, 58) solid 3px;
        padding: 0.1px 8px;  
        box-shadow: rgb(4, 240, 51) 0px 0px 5px ;
        
        @include tema($--Alive)
      }
      &--unknown{
        margin-left: 10px;
        
        border-radius: 50%;
        border: rgb(58, 58, 58) solid 3px;
        padding: 0.1px 8px;  
      
        @include tema($--unknown)
      }
      &__link {
        text-decoration: none;
        color: #000000;
      }
      &__id{
      
        margin: -10px 0px 0px 15px;
        
      
      }
      &__data{
        color: white;
        position:relative;
        top:-8rem;
        left: 8.5rem;
      }
      &__name{
        padding: 5px 0;
        font-size: 18px;
      }   
      &__nameLength{
        
        padding: 5px 0;

        margin-top:-5px;
        width: 10rem;
        font-size: 15px;
      }     
      &__img {
        position: relative;
        top: -1rem;
        border-radius: 100px;   
        width: 50%;
      }

      &__info {
        padding: 0.1rem 0.0rem;
        width: 50%;
    
     

   
        &__status{
        
          padding: 5px 0px;
        }
     
      }
    }
  }
  &__button{
    position: relative;
    @include centralizar;
  }

}
 